.contenedor{
	width: 100%;
	max-width: 1400px;
	font-size: 100%;
}

.main{
	width: 100%;
	height: 90px;
	background: orange;
	border-style:solid; 		
}
.img{
	float: right;
	width: 90px;
	height:90px; 
}

.div_clients{
	border-radius: 20px;
	border-style: dashed;
	border-color: white;
	width: 10%;
	height: 20px;
	position: relative;
    bottom: -30%;
    left: 1%;
    top: 57px; 
}

.div_clients_clients{
	border-radius: 20px;
	background-color: white; 
	border-style: dashed;
	border-color: white;
	width: 10%;
	height: 20px;
	position: relative;
    bottom: -30%;
    left: 1%;
    top: 57px; 
}

.h3_titule{
	font-size: 1rem;
	text-align: center;
	position: relative;
	left: 20%;
	color: white;
	width: 10%;	
    top: -74%;
}

.h3_hi{
	font-size: 1rem;
	text-align: center;
	position: relative;
	left: 20%;
	color: white;
	width: -9%;	
    top: -74%;
}


.div_chambas{
	border-radius: 20px;
	border-style: dashed;
	border-color: white;
	width: 10%;
	height: 20px;
	position: relative;
    left: 13%;
    top: 31px; 
}

.div_invoices{
	border-radius: 20px;
	border-style: dashed;
	border-color: white;
	width: 10%;
	height: 20px;
	position: relative;
    left: 25%;
    top: 4px; 
}

.div_invoices_invoices{
	border-radius: 20px;
	background-color: white;
	border-style: dashed;
	border-color: white;
	width: 10%;
	height: 20px;
	position: relative;
    left: 25%;
    top: 4px; 
}

.div_hi{
	border-radius: 20px;
	border-style: hidden;
	border-color: white;
	width: 10%;
	height: 20px;
	position: relative;
    left: 79%;
    top: -41px; 
}

a{
 	text-decoration: none;
 	border-color: green; 
}

@media screen and (max-width: 860px){
	.h3_titule{
	font-size: 0.9rem;
	text-align: center;
	position: relative;
	left: 17%;
	color: white;
	width: 10%;	
    top: -74%;

    }

    .div_hi{
	border-radius: 20px;
	border-style: hidden;
	border-color: white;
	width: 10%;
	height: 20px;
	position: relative;
    left: 75%;
    top: -41px; 
    }
}

/*-----------------------------------------Deshboard-----------------------------------*/

.welcome_deshboard{
	color:#FF8C00;
	text-align: center;
}

.deshboard_img{
	width: 45%;
	height: 170px;
	color: black;
	border-style: hidden;
	position: relative;
	left: 33%;
	top: 30px;
}

.a_h3_down_image{
	color:black;
}

.div_img_clients{
	width: 120px;
	height: 160px;
	position: relative;
	left: 1%;
}

.img_client{
	width: 120px;
	height: 120px;
}

.h3_down_clients{
	position: relative;
	top: -20%;
	left: 17%;	
}

.div_img_chambas{
	width: 120px;
	height: 160px;
	position: relative;
	left: 41%;
	top: -160px;
}

.img_chamba{
	width: 102px;
	height: 120px;
}

.h3_down_chambas{
	position: relative;
	top: -19%;
	left: 13%;	
}

.div_img_invoices
{
	width: 120px;
	height: 160px;
	position: relative;
	left: 73%;
	top: -350px;
}

.img_invoice{
	width: 102px;
	height: 120px;
	position: relative;
    top: 20px;
}

.h3_down_invoices{
	position: relative;
	top: 0%;
	left: 17%;	
}

.div_welcome{
	position: relative;
	left: 5%
}

/*---------------------------------------Clients---------------------*/
.img_and_name{
	position: relative;
	left: 1%;
	top: 32px;
}

.img_clients_clients{
	width: 120px;
	height: 120px;
	margin-left: -2px;
	margin-top: -50px;
}

.h3_titule_clients{
	font-size: 1rem;
	text-align: center;
	position: relative;
	left: 20%;
	color: orange;
	width: 10%;	
    top: -74%;
}

.h2_clients{
	color: #FF8C00;
	position: relative;
    left: 12%;
    top: -85px;	
}

h2.h2_new_client{
	color: white;
	position: relative;
    top: -28px;		
}

div.div_new_client{
	background: orange;
	position: relative;
    top: -123px;
	height: 10px;
	padding: 20px;
	float: right;
	border-radius: 20px;
}

table.table_required{
	margin-left: 50px;
	margin-top: 70px;
	position: relative;
    top: -61px;
	text-align: center;
}

td.td_required{
	background: #98FB98;
	text-align: center;
	border-radius: 20px;
	text-transform: uppercase;
	width: 400px;
	height: 40px;
}

img.img_garbage{
	height: 26px;
	width: 26px;	
}

/*-------------------------------------Edit Client-------------------------------*/
.input_edit{
	width: 51%;
	height: 20px;
}

.textbox{
	position: relative;
	width: 90%;
	height: 400px;
	left: 20%;
	top: -36px;
}

.cancel{
  position: relative;
  top: 35px;
}

.a_cancel{
	color: red;
	text-decoration: underline; 
}

div.div_save{
	background: #98FB98;
	position: relative;
    left: -49%;
    top: 5px;
	height: 10px;
	padding: 10px;
	float: right;
	border-radius: 20px;
}

/*----------------------------------Delete Client--------------------*/
.div_message_delete_client{
	border: hidden;
	position: relative;
	width: 43%;
	left: 33%;
}

.div_name_client{
	position: relative;
	left: 24%
}

.div_no_change{
	background: red;
	position: relative;
    left: -55%;
    top: 27px;
	height: 10px;
	padding: 10px;
	float: right;
	border-radius: 20px;
}

.div_yes_change{
	background: #98FB98;
	position: relative;
    left: -27%;
    top: 27px;
	height: 10px;
	padding: 10px;
	float: right;
	border-radius: 20px;
}

/*----------------------------------Invoices-------------------------*/
.img_invoices_invoices{
	width: 102px;
	height: 120px;
	position: relative;
    top: -24px;
}

.h2_invoices_invoices{
	color: #FF8C00;
	position: relative;
    left: 12%;
    top: -117px;	
}

.div_invoices_invoices{
	border-radius: 20px;
	border-style: dashed;
	border-color: white;
	background-color: white;
	width: 10%;
	height: 20px;
	position: relative;
    left: 25%;
    top: 4px; 
}

.div_new_invoice{
	background: orange;
	position: relative;
    top: -144px;
	height: 10px;
	padding: 20px;
	float: right;
	border-radius: 20px;
}

/*--------------------------------Delete Invoice---------------------*/
.div_message_delete_invoice{
	border: hidden;
	position: relative;
	width: 46%;
	left: 31%;
	top: -29px;
}

.div_number_invoice{
	position: relative;
	left: 42%
}

/*--------------------------------Chambas-----------------------------*/
.img_and_name_chambas{
	position: relative;
	left: 1%;
	top: 45px;
}

.div_new_chamba{
	background: orange;
	position: relative;
    top: -101px;
	height: 10px;
	padding: 20px;
	float: right;
	border-radius: 20px;
}

.div_chambas_chambas{
	border-radius: 20px;
	border-style: dashed;
	border-color: white;
	background-color: white;
	width: 10%;
	height: 20px;
	position: relative;
    left: 13%;
    top: 31px; 
}

/*---------------------------------------Login-----------------------*/
.welcome_login{
	position: relative;
	left: 26%;
	color:orange;
}

.div_login{
	background-color: #F0E68C;
	border-style: ridge;
	border-color: orange;
	border-radius: 20px;
	width: 29%;
    position: relative;
    left: 38%;
}

.div_login_login{
	background-color: orange;
	position: relative;
    top: -22px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;	
}

.h1_login{
	color: white;
}

.textbox_login{
	border-color: orange;
	position: relative;
	left: 0%;
    top: -6px;
}
